import getpass
import timedelta

google_fileid="Ab10ehEUGHABTUIGITna"
timerec_db_filename="timerec-pro.db"

millnet_username='myname@mycompany.com'
def ask_password():
    return getpass.getpass(f'Millnet password for {millnet_username}: ')
baseurl='https://mycompany.millnet.cloud'

flexhrm_username='123myname'
def flexhrm_ask_password():
    return getpass.getpass(f'FlexHRM password for {flexhrm_username}: ')
flexhrm_baseurl='https://flexhrm.domain.se'

# Set to None if not consulting
flexhrm_consultancy_company = '00000000-0000-0000-0000-000000000000'

# Set this when reporting should detect lunch breaks
# (For when the input has no lunch information but the target system
# needs them)
detect_lunch = True
min_lunch_duration = datetime.timedelta(minutes=30)

#force_insert_lunch = True

# Load account mapping from CSV
from csvmapping import account_mapping
